{% extends 'userpanel/user_base.html' %}
{% load static %}
{% block title %} 
Blog | editblog

{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <h2>Edit Blog</h2><br>
  
  <div class="container-xxl flex-grow-1 container-p-y" style="background-color: white;">
  <form method="post" enctype="multipart/form-data" >
    
      {% csrf_token %}
      {{ form.as_p }}
      
      <input type="submit" value=" Update" class="btn btn-primary">
      
    </form>
        
  </div></div>
    
    {% endblock %}