{% extends 'userpanel/user_base.html' %}
{% load static %}
{% block title %} 
Blog | user resetpassword

{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
<h2>Rset Password</h2>
<div class="container-xxl flex-grow-1 container-p-y" style="background-color: white;" >
	<div class="row">
		<div class="col-sm-4">
		    <form method="POST" action="{% url 'user_resetpassword' %}">
                {% csrf_token %}
		    <label>Current Password</label>
		    <div class="form-group pass_show">
                {{ form.old_password }} 
                <!-- <input type="password" value="faisalkhan@123" class="form-control" placeholder="Current Password">  -->
            </div> <br>
		       <label>New Password</label>
            <div class="form-group pass_show"> 
                {{ form.new_password1 }}
                <!-- <input type="password" value="faisal.khan@123" class="form-control" placeholder="New Password">  -->
            </div> <br>
		       <label>Confirm Password</label>
            <div class="form-group pass_show"> 
                {{ form.new_password2 }}
                <!-- <input type="password" value="faisal.khan@123" class="form-control" placeholder="Confirm Password">  -->
            </div> <br>
            
		</div>  
	</div>


<div class="form-group">
<input name="recover-submit" class="btn btn-lg btn-primary btn-center"  value="Reset Password" type="submit">
</div>
</form>
</div>
</div>

{% endblock %}